__pycache__/
*.pyc
venv/
.venv/
results/
*.ipynb_checkpoints
*zip
*tar
*gz
*bz2
*xz
*rar
*7z
*tar.gz
*tar.bz2
*tar.xz
*tar.7z
*tar.rar
*tar.7z
__MACOSX/
.DS_Store
Thumbs.db
/.codex
notes/build/
notes/_mlsys_template/mlsys2025style/.*
notes/_mlsys_template/mlsys2025style/example_paper.*
